html {
	background-color: #00636f;
}

body {
	font-family: 'Open Sans', sans-serif;
	max-width: 800px;
	margin: 0 auto;
	background-color: #fff;
	border-right: 1px solid #5b6566;
	border-left: 1px solid #00636f;
	min-height: 100vh;
}

h1,
h2 {
	font-family: 'Lato', sans-serif;
}

button {
	background-color: #007d8c;
	border: 1px solid #007d8c;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	font-size: 18px;
	margin: 0 24px;
	margin-left: 16px;
	padding: 8px 16px;
	&:hover {
		background-color: #00636f;
	}

	&:active {
		background-color: #0c0c49;
		color: #fff;
	}
}

.header {
	padding: 16px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #007d8c;

	h1 {
		font-size: 24px;
		margin: 0;
		padding: 0 24px;
		display: flex;

		button {
			background-color: inherit;
			border: inherit;
			padding: 2px;
			display: none;
			margin: 0 8px 0 0;

			&:hover {
				background-color: #dadce0;
			}
		}
	}
}

.login-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 48px;

	h2,
	h3 {
		margin: 0;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 18px;
		font-weight: 400;
	}

	&--select-group {
		margin: 24px 0 8px;
		select,
		button {
			border: 1px solid #007d8c;
			cursor: pointer;
			font-size: 18px;
			padding: 8px 16px;
		}

		button {
			background-color: #007d8c;
			border-radius: 4px;
			border-top: 1px solid #007d8c;
			color: #fff;
			margin-left: 16px;
			&:hover {
				background-color: #00636f;
			}

			&:active {
				background-color: #0c0c49;
				color: #fff;
			}
		}
	}
}

.chat-page {
	display: flex;
	flex-direction: row;
	justify-content: center;
	@media only screen and (max-width: 600px) {
		flex-direction: column;
	}

	.mobile-friend-list {
		display: none;
		@media only screen and (max-width: 600px) {
			display: flex;
			margin: 16px 8px;
			max-width: 250px;
			align-self: center;
			cursor: pointer;
		}
	}
}

.chatbox-header {
	background-color: #007d8c;
	border: 1px solid #007d8c;
	color: #fff;
	font-size: 18px;
	margin: 0;
	padding: 16px 0;
	text-align: center;
	width: 400px;

	@media only screen and (max-width: 600px) {
		width: 100%;
	}
}

.chat-box {
	background-color: #f4f4f5;
	border: 1px solid #000;
	border-top: 0;
	display: flex;
	flex-direction: column;
	height: 800px;
	justify-content: space-between;
	width: 400px;

	@media only screen and (max-width: 600px) {
		width: 100%;
		height: 500px;
	}
}

.chat-box--wrapper {
	@media only screen and (max-width: 600px) {
		width: 100%;
	}
}

.message-list {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	overflow-y: scroll;
	padding: 24px;
	width: 100%;
}

.message-row {
	&--outgoing {
		align-self: flex-end;
		background-color: #63d663;
		border: 1px solid #dadce0;
		border-radius: 4px;
		margin: 8px;
		padding: 8px 16px;
	}
	&--incoming {
		align-self: flex-start;
		background-color: #fff;
		border: 1px solid #dadce0;
		border-radius: 4px;
		margin: 8px;
		padding: 8px 16px;
	}
}

.message-form {
	background-color: #fff;
	border-top: 1px solid #dadce0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 8px;

	input {
		margin-right: 8px;
		width: 100%;
	}

	button {
		border-radius: 4px;
		background-color: #007d8c;
		border: 1px solid #007d8c;
		box-shadow: none;
		cursor: pointer;
		margin: 0;
		padding: 8px 16px;
		width: 100px;
		&:hover {
			background-color: #00636f;
		}
		&:active {
			background-color: #0c0c49;
			color: #fff;
		}
		&:disabled {
			background-color: #dadce0;
			border: 1px solid #dadce0;
			border-radius: 4px;
			box-shadow: none;
		}
	}
}

.friends-list {
	display: flex;
	flex-direction: column;
	width: 150px;
	&--mobile {
		display: none;
	}

	h2 {
		background-color: #fff;
		border: 1px solid #00636f;
		font-size: 18px;
		font-weight: 400;
		margin: 0;
		padding: 16px 0;
		text-align: center;
	}
	&--buttons {
		display: flex;
		flex-direction: column;
	}
	@media only screen and (max-width: 600px) {
		display: none;
		&--mobile {
			display: flex;
			position: absolute;
			flex-direction: column;
			background: #fff;
			width: 300px;
			padding: 8px;
			border: 1px solid #000;
			margin: 0 auto;
			right: 0;
			left: 0;
			max-height: 600px;
		}
		&--close {
			align-self: flex-end;
			background: none;
			border: none;
			color: #000;
			margin: 0;
			padding: 4px;
			margin-bottom: 2px;

			&:hover {
				background: #dadce0;
				color: #000;
				border: none;
			}

			&:active {
				background: #dadce0;
				color: #000;
				border: none;
			}
		}
	}
}

.friend-row {
	background-color: #fff;
	border: 1px solid #dadce0;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	margin: 0;
	padding: 16px 0;
	width: 100%;

	&:hover {
		background-color: #dadce0;
	}

	&:active {
		background-color: #00636f;
		border: 1px solid #00636f;
		color: #fff;
	}
	&--active {
		background-color: #007d8c;
		border: 1px solid #007d8c;
		border-radius: 0;
		color: #fff;
		cursor: pointer;
		margin: 0;
		padding: 16px 0;
		width: 100%;
		&:hover {
			background-color: #00636f;
		}

		&:active {
			background-color: #0c0c49;
			border: 1px solid #0c0c49;
			color: #fff;
		}
	}
}

@media only screen and (max-width: 600px) {
}
